<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="jssvc.credit.dao.CreditProcessMapper" >
  <resultMap id="BaseResultMap" type="jssvc.credit.model.CreditProcess" >
      <id column="id"  property = "id" jdbcType="INTEGER" javaType="java.lang.Integer" />
      <result column="code"  property = "code" jdbcType="VARCHAR" javaType="java.lang.String" />
      <result column="credit_Title"  property = "creditTitle" jdbcType="VARCHAR" javaType="java.lang.String" />
      <result column="credit_Content"  property = "creditContent" jdbcType="VARCHAR" javaType="java.lang.String" />
      <result column="currentUser"  property = "currentuser" jdbcType="VARCHAR" javaType="java.lang.String" />
      <result column="status"  property = "status" jdbcType="VARCHAR" javaType="java.lang.String" />
      <result column="apply_Dept"  property = "applyDept" jdbcType="VARCHAR" javaType="java.lang.String" />
      <result column="apply_Status"  property = "applyStatus" jdbcType="VARCHAR" javaType="java.lang.String" />
      <result column="apply_User"  property = "applyUser" jdbcType="VARCHAR" javaType="java.lang.String" />
      <result column="handle_Result"  property = "handleResult" jdbcType="VARCHAR" javaType="java.lang.String" />
      <result column="specific_Info"  property = "specificInfo" jdbcType="VARCHAR" javaType="java.lang.String" />
      <result column="apply_Time"  property = "applyTime" jdbcType="TIMESTAMP" javaType="java.util.Date" />
      <result column="update_Time"  property = "updateTime" jdbcType="TIMESTAMP" javaType="java.util.Date" />
      <result column="column1"  property = "column1" jdbcType="VARCHAR" javaType="java.lang.String" />
      <result column="column2"  property = "column2" jdbcType="VARCHAR" javaType="java.lang.String" />
      <result column="column3"  property = "column3" jdbcType="TIMESTAMP" javaType="java.util.Date" />
  </resultMap>
  <resultMap id="CreditProcessVoMap" type="jssvc.credit.vo.CreditProcessVo" extends="BaseResultMap">
      <result column="applybankName" property = "applybankName" jdbcType="VARCHAR" javaType="java.lang.String" />
      <result column="applyuserName" property = "applyuserName" jdbcType="VARCHAR" javaType="java.lang.String" />
      <result column="approveStatusName" property = "approveStatusName" jdbcType="VARCHAR" javaType="java.lang.String" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, code, credit_Title, credit_Content, currentUser, status, apply_Dept, apply_User,
    apply_Time, apply_Status, handle_Result, specific_Info,update_Time, column1, column2, column3
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from t_credit_process
    where id = #{id,jdbcType=INTEGER}
  </select>
  <select id="selectFlagNumber" parameterType="java.lang.String" resultType="java.lang.String">
    select name from t_constant where type = #{0} and en_key = #{1}
  </select>
  <update id="updateFlagNumber" parameterType="java.lang.String">
     update t_constant set name =#{0} where type = #{1} and en_key = #{2}
  </update>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from t_credit_process
    where id = #{id,jdbcType=INTEGER}
  </delete>

  <insert id="insert" parameterType="jssvc.credit.model.CreditProcess" >
    insert into t_credit_process (id, code, credit_Title, 
      credit_Content, currentUser, status, 
      apply_Dept, apply_User, apply_Time,
      update_Time, column1, column2,
      column3, apply_Status, handle_Result, specific_Info)
    values (#{id,jdbcType=INTEGER}, #{code,jdbcType=VARCHAR}, #{creditTitle,jdbcType=VARCHAR}, 
      #{creditContent,jdbcType=VARCHAR}, #{currentuser,jdbcType=VARCHAR}, #{status,jdbcType=VARCHAR}, 
      #{applyDept,jdbcType=VARCHAR}, #{applyUser,jdbcType=VARCHAR}, #{applyTime,jdbcType=TIMESTAMP},
      #{updateTime,jdbcType=TIMESTAMP}, #{column1,jdbcType=VARCHAR}, #{column2,jdbcType=VARCHAR},
      #{column3,jdbcType=TIMESTAMP}, #{applyStatus,jdbcType=VARCHAR}, #{handleResult,jdbcType=VARCHAR}, #{specificInfo,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="jssvc.credit.model.CreditProcess" >
    insert into t_credit_process
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="code != null" >
        code,
      </if>
      <if test="creditTitle != null" >
        credit_Title,
      </if>
      <if test="creditContent != null" >
        credit_Content,
      </if>
      <if test="currentuser != null" >
        currentUser,
      </if>
      <if test="status != null" >
        status,
      </if>
      <if test="applyDept != null" >
        apply_Dept,
      </if>
      <if test="applyUser != null" >
        apply_User,
      </if>
      <if test="applyTime != null" >
        apply_Time,
      </if>
      <if test="updateTime != null" >
        update_Time,
      </if>
      <if test="column1 != null" >
        column1,
      </if>
      <if test="column2 != null" >
        column2,
      </if>
      <if test="column3 != null" >
        column3,
      </if>
      <if test="applyStatus != null" >
        apply_Status,
      </if>
      <if test="handleResult != null" >
        handle_Result,
      </if>
      <if test="specificInfo != null" >
        specific_Info,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="code != null" >
        #{code,jdbcType=VARCHAR},
      </if>
      <if test="creditTitle != null" >
        #{creditTitle,jdbcType=VARCHAR},
      </if>
      <if test="creditContent != null" >
        #{creditContent,jdbcType=VARCHAR},
      </if>
      <if test="currentuser != null" >
        #{currentuser,jdbcType=VARCHAR},
      </if>
      <if test="status != null" >
        #{status,jdbcType=VARCHAR},
      </if>
      <if test="applyDept != null" >
        #{applyDept,jdbcType=VARCHAR},
      </if>
      <if test="applyUser != null" >
        #{applyUser,jdbcType=VARCHAR},
      </if>
      <if test="applyTime != null" >
        #{applyTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null" >
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="column1 != null" >
        #{column1,jdbcType=VARCHAR},
      </if>
      <if test="column2 != null" >
        #{column2,jdbcType=VARCHAR},
      </if>
      <if test="column3 != null" >
        #{column3,jdbcType=TIMESTAMP},
      </if>
      <if test="applyStatus != null" >
        #{applyStatus,jdbcType=VARCHAR},
      </if>
      <if test="handleResult != null" >
        #{handleResult,jdbcType=VARCHAR},
      </if>
      <if test="specificInfo != null" >
        #{specificInfo,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>

  <select id="getCreditProcessList" resultMap="CreditProcessVoMap" parameterType="jssvc.credit.vo.filter.CreditProcessSearchFilter" >
    select
    suggest.*,ii.jgmc as applybankName,u.ygxm as applyuserName from t_credit_process suggest
    left join t_dept_info ii on (suggest.apply_Dept=ii.jgh)
    left join t_user u     on (suggest.apply_User=u.dah)
    where 1=1
    <if test="code != null and '' != code" >
      and suggest.code = #{code, jdbcType=VARCHAR}
    </if>
    <if test="title != null and '' != title" >
      and suggest.credit_Title like concat('%', #{title,jdbcType=VARCHAR}, '%')
    </if>

    <if test="sortField != null and '' != sortField" >
      order by suggest.${sortField} ${sortOrder}
    </if>
    <if test="limit != 0" >
      limit #{offset},#{limit}
    </if>
  </select>
  <select id="getCreditProcessListCount" resultType="java.lang.Integer" parameterType="jssvc.credit.vo.filter.CreditProcessSearchFilter" >
  select count(*) from t_credit_process suggest
  left join t_dept_info ii on (suggest.apply_Dept=ii.jgh)
  left join t_user u              on (suggest.apply_User=u.dah)
  where 1=1
  <if test="code != null and '' != code" >
    and suggest.code = #{code, jdbcType=VARCHAR}
  </if>
  <if test="title != null and '' != title" >
    and suggest.credit_Title like concat('%', #{title,jdbcType=VARCHAR}, '%')
  </if>
</select>

  <update id="updateByPrimaryKeySelective" parameterType="jssvc.credit.model.CreditProcess" >
    update t_credit_process
    <set >
      <if test="code != null" >
        code = #{code,jdbcType=VARCHAR},
      </if>
      <if test="creditTitle != null" >
        credit_Title = #{creditTitle,jdbcType=VARCHAR},
      </if>
      <if test="creditContent != null" >
        credit_Content = #{creditContent,jdbcType=VARCHAR},
      </if>
      <if test="currentuser != null" >
        currentUser = #{currentuser,jdbcType=VARCHAR},
      </if>
      <if test="status != null" >
        status = #{status,jdbcType=VARCHAR},
      </if>
      <if test="applyDept != null" >
        apply_Dept = #{uploadDept,jdbcType=VARCHAR},
      </if>
      <if test="applyUser != null" >
        apply_User = #{uploadUser,jdbcType=VARCHAR},
      </if>
      <if test="applyTime != null" >
        apply_Time = #{applyTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null" >
        update_Time = #{optTime,jdbcType=TIMESTAMP},
      </if>
      <if test="column1 != null" >
        column1 = #{column1,jdbcType=VARCHAR},
      </if>
      <if test="column2 != null" >
        column2 = #{column2,jdbcType=VARCHAR},
      </if>
      <if test="column3 != null" >
        column3 = #{column3,jdbcType=TIMESTAMP},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="jssvc.credit.model.CreditProcess" >
    update t_credit_process
    set code = #{code,jdbcType=VARCHAR},
      credit_Title = #{creditTitle,jdbcType=VARCHAR},
      credit_Content = #{creditContent,jdbcType=VARCHAR},
      currentUser = #{currentuser,jdbcType=VARCHAR},
      status = #{status,jdbcType=VARCHAR},
      apply_Dept = #{applyDept,jdbcType=VARCHAR},
      apply_Status = #{applyStatus,jdbcType=VARCHAR},
      handle_Result = #{handleResult,jdbcType=VARCHAR},
      specific_Info = #{specificInfo,jdbcType=VARCHAR},
      apply_User = #{applyUser,jdbcType=VARCHAR},
      apply_Time = #{applyTime,jdbcType=TIMESTAMP},
      update_Time = #{updateTime,jdbcType=TIMESTAMP},
      column1 = #{column1,jdbcType=VARCHAR},
      column2 = #{column2,jdbcType=VARCHAR},
      column3 = #{column3,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=INTEGER}
  </update>
  <select id="selectBySuggestCode" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select
    <include refid="Base_Column_List" />
    from t_credit_process
    where code = #{code,jdbcType=VARCHAR}
  </select>
</mapper>