<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="jssvc.user.dao.DataAuthorityMapper" >
  <resultMap id="BaseResultMap" type="jssvc.user.model.DataAuthority" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="dah" property="dah" jdbcType="VARCHAR" />
    <result column="jgh" property="jgh" jdbcType="VARCHAR" />
    <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, dah, jgh, create_time
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from t_data_authority
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from t_data_authority
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="jssvc.user.model.DataAuthority" >
    insert into t_data_authority (id, dah, jgh, 
      create_time)
    values (#{id,jdbcType=INTEGER}, #{dah,jdbcType=VARCHAR}, #{jgh,jdbcType=VARCHAR}, 
      #{createTime,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="jssvc.user.model.DataAuthority" >
    insert into t_data_authority
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="dah != null" >
        dah,
      </if>
      <if test="jgh != null" >
        jgh,
      </if>
      <if test="createTime != null" >
        create_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="dah != null" >
        #{dah,jdbcType=VARCHAR},
      </if>
      <if test="jgh != null" >
        #{jgh,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null" >
        #{createTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="jssvc.user.model.DataAuthority" >
    update t_data_authority
    <set >
      <if test="dah != null" >
        dah = #{dah,jdbcType=VARCHAR},
      </if>
      <if test="jgh != null" >
        jgh = #{jgh,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null" >
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="jssvc.user.model.DataAuthority" >
    update t_data_authority
    set dah = #{dah,jdbcType=VARCHAR},
      jgh = #{jgh,jdbcType=VARCHAR},
      create_time = #{createTime,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=INTEGER}
  </update>
  <select id="selectByDah" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from t_data_authority
    where dah = #{dah,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByDah" parameterType="java.lang.String" >
    delete from t_data_authority
    where dah = #{dah,jdbcType=VARCHAR}
  </delete>
</mapper>